body {
    padding: 30px 60px 60px 60px;
    font-family: Arial, sans-serif;
}
h1 { font-size: 24px }
#filename {
    width: 140px;
    padding: 2px;
    font-size: 16px;
}
#progress-bar {
    margin-top: 15px;
    font-size: 12px;
    border: 1px solid #ddd; width: 300px; height: 20px;
    background-color: #eee;
}
#progress {
    background-color: grey;
    width: 0%; height: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
}
textarea {
    margin-top: 15px;
    width: 286px;
    height: 150px;
    font-size: 16px;
    padding: 8px;
}
#md5 {
    margin-left: 10px;
    display: inline;
    color: #aaa;
    font-size: 10px;
}
